<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tsunami Hazard Map</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>

    <!--Bootstrap Notiry-->
    <script src="assets/bootstrap-notify/bootstrap-notify.js"></script>

    <!--Leaflet CSS-->
    <link rel="stylesheet" href="assets/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css"/>
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet"/>


    <!--leaflet js-->
    <script src="assets/leaflet/leaflet.js"></script>

    <!--jQuery UI-->
    <script src="assets/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/jquery-ui/jquery-ui.css"/>

    <!--manual script-->
    <script src="js/inundationData.js"></script>
    <script src="js/main.js"></script>   

    <!--places.js library-->
    <script src="assets/places/places.js"></script>
    <script src="assets/places/placesAutocompleteDataset.js"></script>
    <script src="assets/places/placesInstantsearchWidget.js"></script>

    <!--select2-->
    <link href="assets/select2/dist/css/select2.css" rel="stylesheet" />
    <script src="assets/select2/dist/js/select2.js"></script>

</head>

<body>

<!-- Navigation -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success fixed-top">
    <a class="navbar-brand" href="/">Tsunami Hazard Map - Sumner, Christchurch, New
        Zealand </a>
</nav>

<!-- Page Content -->
<div class="container">

</div>

<!-- fullwidth map-->
<div class="map-container col-md-12 mt-5">
    <!--map controls-->
    <div class="d-flex flex-row">
        <div class="mr-auto">
            Locate your location for more infomation
        </div>
        <div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="inundationToggle" class="form-check-input"
                       onchange="inundationToggle()">
                <label for="inundationToggle" class="form-check-label">Inundation</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="checkbox" id="driveToggle" class="form-check-input"
                       checked onchange="driveToggle()">
                <label for="driveToggle" class="form-check-label">Drive</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="checkbox" id="walkToggle" class="form-check-input"
                       checked onchange="walkToggle()">
                <label for="walkToggle" class="form-check-label">Walk</label>
            </div>

        </div>
        <div class="ml-auto col-md-5">
            <!--<input type="search" id="address-locator" class="col-md-12" placeholder="Search for: Address">-->
            <select id="address-locator" class="col-md-12" name="addresses[]">
            </select>
        </div>

    </div>

    <!--map-->
    <div id="survive_map"></div>
</div>

<!--view options-->
<div class="container time-infomation">

    view options

</div>

<!-- Footer -->
<footer class="mt-1 py-2 bg-dark">
    <div class="container">
        <p class="small m-0 text-center text-white">Le Lina & Dang Hoang Lan &copy;
            2018</p>
    </div>
    <!-- /.container -->
</footer>

<script>
    $(initializeMap()) // load innundation map when page is ready
    $(initializeAddressLocator())  
    $("#onclick-locator").click(locateCurrentPosition)
</script>

</body>

</html>
